body{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.189);
}


.links{
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
.links:hover{
  cursor: pointer;
}


.navbar{
  padding: 10px;
}

img{
  border-radius: 20px;
}

.container-text{
  max-width: 1050px;
  max-width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}